{port_env,
 [{"darwin", "LDFLAGS", "-framework CoreFoundation -framework CoreServices"},
  {"darwin", "CC", "clang"},
  {"darwin", "CFLAGS", "-Wno-deprecated-declarations"},
  {"linux", "LDFLAGS", ""},
  {"linux", "CC", "gcc"},
  {"linux", "CFLAGS", ""}]
}.

{port_specs, [
        {"darwin", "priv/syslog_drv.so", ["c_src/*.c"]},
        {"linux", "priv/syslog_drv.so", ["c_src/*.c"]}
]}.

